.renting-com {
  font-size: 22px;
  margin-top: 5px;
}

.add_button {
  height: 35px;
  font-size: 20px;
  background-color: #ace5ee;
  border:1px solid black;
  margin-top: 6px;
  margin-bottom: 4px;
  border-radius: 4px;
}

.logout_button {
  height: 35px;
  font-size: 20px;
  background-color: #ace5ee;
  border:1px solid black;
  margin-top: 6px;
  border-radius: 4px;
  margin-bottom: 4px;
}

.logout_button:hover {
  box-shadow: 0 8px 16px 0 rgba(151, 148, 148, 0.3);
}
.add_button:hover {
  box-shadow: 0 8px 16px 0 rgba(151, 148, 148, 0.3);
}
