.renting-com {
  font-size: 22px;
  margin-top: 4px;
}

.add_button {
  height: 30px;
  font-size: 16px;
  background-color: #ace5ee;
  border:1px solid black;
  margin-top: 7px;
  margin-bottom: 6px;
  border-radius: 4px;
}

.logout_button {
  height: 30px;
  font-size: 16px;
  background-color: #ace5ee;
  border:1px solid black;
  margin-top: 7px;
  border-radius: 4px;
  margin-bottom: 6px;
}

.logout_button:hover {
  box-shadow: 0 8px 16px 0 rgba(151, 148, 148, 0.3);
}
.add_button:hover {
  box-shadow: 0 8px 16px 0 rgba(151, 148, 148, 0.3);
}

.homeIcon img,svg{
  vertical-align: baseline;
}