.card {
  width: 70vh;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(182, 175, 175, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(151, 148, 148, 0.8);
}

.card-body {
  font-size: 3vh;
}

.lists {
  list-style: none;
  color: darkblue;
}

.list-items {
  color: black;
}

.button {
  width: 25vh;
  margin-left: 22vh;
  color: "black";
  background-color: #ace5ee;
  border-radius: 0.5vh;
  border-color: #ace5ee;
  margin-bottom: 2vh;
}

.button:hover {
  box-shadow: 0 8px 16px 0 rgba(151, 148, 148, 0.3);
}
