.card {
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(182, 175, 175, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(151, 148, 148, 10);
}

.card-body {
  font-size: 16px;
}

.lists {
  color: darkblue;
}

.btns {
  width: 150px;
  background-color: #ace5ee;
  border-radius: 4px;
  border-color: #ace5ee;
  margin-bottom: 10px;
}

.btns:hover {
  box-shadow: 0 8px 16px 0 rgba(151, 148, 148, 0.3);
}
